<a href="https://colab.research.google.com/github/saikhairnar20023/python-basics/blob/main/pandas_library_for_csv_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/age_height_data.csv")
df

    Age (Months)  Height (CM)
0             18         76.1
1             19         77.0
2             20         78.1
3             21         78.2
4             22         78.8
5             23         79.7
6             24         79.9
7             25         81.1
8             26         81.2
9             27         81.8
10            28         82.8
11            29         83.5

In [6]:
import os

In [8]:
print(os.getcwd())

/content