<a href="https://colab.research.google.com/github/saikhairnar20023/python-basics/blob/main/pandas_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#how to create python pandas Dataframe

In [3]:
import pandas as pd

In [6]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [8]:
lst = ['a','b','c']
print(lst)

['a', 'b', 'c']

In [10]:
df1 = pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [12]:
df1

   0
0  a
1  b
2  c

In [14]:
ls_of_ls = ([1,2,3],[3,4,5],[5,6,7])
print(ls_of_ls)

([1, 2, 3], [3, 4, 5], [5, 6, 7])

In [16]:
df2 = pd.DataFrame(ls_of_ls)
print(df2)

   0  1  2
0  1  2  3
1  3  4  5
2  5  6  7

In [18]:
dict_3= ({'a':[1,12,14,15,16]})
print(dict_3)

{'a': [1, 12, 14, 15, 16]}

In [20]:
pd.DataFrame(dict_3)

    a
0   1
1  12
2  14
3  15
4  16

In [23]:
dict_3= ({'a':[1,12,14,15,16],'b':[18,17,15,40,23]})
print(dict_3)

{'a': [1, 12, 14, 15, 16], 'b': [18, 17, 15, 40, 23]}

In [25]:
pd.DataFrame(dict_3)

    a   b
0   1  18
1  12  17
2  14  15
3  15  40
4  16  23

In [29]:
ls_dict = [{'a':1,'b':2},{'a':3,'b':4}]
df4 = pd.DataFrame(ls_dict)
print(df4)

   a  b
0  1  2
1  3  4

In [31]:
ls_dict = [{'a':1,'b':2},{'a':3,'b':4,'c':5}]
df4 = pd.DataFrame(ls_dict)
print(df4)

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [32]:
dict_sr = {'a':pd.Series([1,2,3]),'b':pd.Series([4,5,6])}
df5 = pd.DataFrame(dict_sr)
df5

   a  b
0  1  4
1  2  5
2  3  6